.Lesson {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    transition: 0.2s all ease-in;
    grid-template-areas: "lesson-images-container lesson-content";
}

.lesson-images-container {
    grid-area: lesson-images-container;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 20px 0px;
}

.lesson-image {
    width: 200px;
    height: 450px;
    border-radius: 20px;
    background-color: var(--base-3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.lesson-image img {
    width: 100%;
    height: 100%;
}

.image-up {
    align-self: flex-start;
}

.image-down {
    align-self: flex-end;
}

.lesson-content {
    grid-area: lesson-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 0px;
}

.lesson-content h2 {
    font-size: 32px;
}

.lesson-items-container {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
}

.lesson-item {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "item-point item-title"
        "item-point item-description";
}
.item-point {
    grid-area: item-point;
    padding-top: 5px;
}
.item-title {
    grid-area: item-title;
    font-weight: 600;
}
.item-description {
    grid-area: item-description;
    color: var(--base-3);
    line-height: 1.09;
    font-size: 16px;
}

@media (max-width: 860px) {
    .Lesson {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "lesson-content" "lesson-images-container";
        transition: 0.2s all ease-in;
    }

    .lesson-images-container { 
        display: none;
    }

    .lesson-content h2 {
    font-size: 32px;
    text-align: center;
}

}
