.quienes-somos-secction {
	height: 100%;
	background-color: white;
	padding-bottom: 60px;
}

.quienes-somos-container-main {
	display: flex;
	justify-content: flex-end;
	column-gap: 24px;
	min-height: 800px;
}

.info-container1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	color: white;
	max-width: 650px;
	padding-left: 12px;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	max-width: 80%;
	padding-left: 12px;
}

.title-container h1 {
	font-size: 50px;
	color: #252525;
}

/* -------- */

.title-container h2 {
	color: rgb(0, 0, 0);
	font-size: 40px;
	line-height: 50px;
}

.title-container h2 span {
	color: var(--primary-blue);
}

.title-container p {
	color: #8f8f8f;
	margin: 24px 0;
}

.title-container p a {
	color: rgb(0, 0, 0);
	text-decoration: underline;
	width: fit-content;
	display: inline;
}

.title-container a {
	display: flex;
	align-items: center;
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.title-container a:hover {
	color: var(--primary-blue);
}
/* -------- */

.img1-container {
	position: relative;
	height: 50%;
}

.img1-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0;
	border-radius: 10px;
}

.img1-play-button {
	position: absolute;
	color: rgb(255, 255, 255);
	background-color: var(--base-3);
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 40px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.img1-play-button:hover {
	transform: scale(1.2);
}

.info-container2 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	color: white;
}

.img2-container {
	height: 90%;
}

.img2-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0 0 0 10px;
}

.fechas-container {
	margin: 12px 0;
	display: flex;
	height: 10%;
	align-items: center;
	gap: 24px;
	padding: 0px 12px;
}

.horarios {
	display: flex;
	align-items: center;
	gap: 12px;
	color: #252525;
}

.horarios p {
	color: #494949;
}

.horarios p b {
	color: #222222;
}

.icon-clock {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(240, 240, 240);
	background-color: #6000de;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	font-size: 24px;
}

.fechas-container a {
	display: flex;
	align-items: center;
	border: none;
	text-decoration: none;
	padding: 0px 18px;
	height: 50px;
	border-radius: 6px;
	background-color: var(--primary-blue);
	color: white;
	font-family: Poppins;
	font-size: 14px;
	transition: all 0.2s ease-out;
	border-radius: 25px;
}

.fechas-container a:hover {
	background-color: #4500a0;
	box-shadow: 1px 1px 5px rgb(110, 110, 110);
}

.cuadro-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--primary-blue);
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	left: -80px;
	padding: 36px;
	border-radius: 10px;
	max-height: 450px;
	line-height: 1.5;
}

.cuadro-info h2 {
	font-size: 30px;
	margin-bottom: 12px;
}

.cuadro-info p {
	font-size: 16px;
	max-width: 350px;
}

.cuadro-info a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-top: 24px;
	width: 100%;
	height: 50px;
	border-radius: 50px;
	background: none;
	border: 1px solid white;
	color: white;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.cuadro-info a:hover {
	color: var(--primary-blue);
	background-color: white;
}

@media (max-width: 1024px) {
	.cuadro-info {
		bottom: 80px;
	}

	.cuadro-info p {
		max-width: 300px;
	}

	.title-container h1 {
		font-size: 40px;
	}

	.title-container span img {
		max-width: 320px;
	}

	.horarios p {
		font-size: 14px;
	}

	.fechas-container a {
		padding: 0px 12px;
	}
}

@media (max-width: 990px) {
	.quienes-somos-secction {
		padding-bottom: 0;
	}

	.img1-container {
		display: none;
	}

	.img2-container {
		display: none;
	}
	.quienes-somos-container-main {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.info-container1 {
		width: 100%;
		align-items: center;
		padding-left: 0px;
	}

	.title-container {
		padding: 0;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin: 24px 0 36px;
	}

	.info-container2 {
		width: 100%;
		align-items: center;
	}

	.fechas-container {
		padding-left: 0px;
		margin-top: 24px;
	}

	.cuadro-info {
		position: static;
	}
}

@media (max-width: 480px) {
	.title-container h1 {
		font-size: 36px;
	}

	.title-container span img {
		max-width: 285px;
	}

	.cuadro-info {
		width: 90%;
		max-height: 100%;
	}

	.cuadro-info h2 {
		font-size: 26px;
	}

	.cuadro-info p {
		max-width: 100%;
	}

	.fechas-container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.fechas-container a {
		width: 90%;
	}
}
