.StudyNavigationItem {
	/* width: 250px; */
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: var(--base-3);
	cursor: pointer;
	transition: 0.2s all ease-in;
}

.StudyNavigationItem::after {
	position: absolute;
	content: '';
	width: 50%;
	height: 3px;
	bottom: 1px;
	background: #e1e1e1;
	right: 0;
}

.StudyNavigationItem::before {
	position: absolute;
	content: '';
	width: 50%;
	height: 3px;
	bottom: 1px;
	background: #e1e1e1;
	left: 0;
}

.StudyNavigationItem span {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: var(--base-3);
	bottom: -10px;
	border: 5px solid #e1e1e1;
	transition: 0.2s all ease-in;
	z-index: 10;
}

.item-active {
	color: var(--primary-blue);
	transition: 0.2s all ease-in;
}

.item-active span {
	background-color: white;
	border: 3px solid var(--primary-blue);
	transition: 0.2s all ease-in;
}

.StudyNavigationItem:hover {
	color: var(--primary-blue);
}
