.Itinerary {
	width: 100%;
	/* height: 740px; */
	display: flex;
	background-image: url('../../assets/itinerary/itinerary-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
}

.itinerary-container {
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 60px 140px;
}

.itinerary-header h1 {
	font-size: 32px;
	font-weight: 500;
	line-height: 1.09;
}

.itinerary-header h1 > span {
	color: var(--cyan);
}

.itinerary-header p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	margin-top: 20px;
}

.itinerary-body {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 24px;
	margin-top: 24px;
}

.itinerary-end {
	text-align: center;
	padding: 12px 0 0;
}

.itinerary-end h1 {
	font-size: 20px;
}

.itinerary-end p {
	font-size: 16px;
	font-weight: 400;
	color: #c2d7ff;
}

@media (max-width: 1160px) {
	.itinerary-body {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.Itinerary {
		height: auto;
	}
}

@media (max-width: 860px) {
	.Itinerary {
		height: 1540px;
	}

	.itinerary-body {
		flex-direction: column;
	}
}

@media (max-width: 460px) {
	.Itinerary {
		height: auto;
	}

	.itinerary-container {
		background-color: black;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 0) 60%),
			url('../../assets/itinerary/itinerary-background-mobile.png');
		background-size: cover;
		/* background-position: top; */
		background-repeat: no-repeat;
	}

	.itinerary-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
}

@media (max-width: 320px) {
	.itinerary-header p {
		font-size: 15px;
	}
}

/* Padding */

@media (max-width: 1280px) {
	.itinerary-container {
		padding: 60px 60px;
	}
}

@media (max-width: 1024px) {
	.itinerary-container {
		padding: 60px 20px;
	}
}

@media (max-width: 460px) {
	.itinerary-container {
		padding: 60px 10px;
	}
}
