.mainContainer {
	position: relative;
	background-color: #171d26;
	border: 2px solid var(--primary-blue);
	max-width: 400px;
	padding: 32px;
	border-radius: 10px;
}

.mainContainer hr {
	border-color: var(--primary-blue);
	margin: 24px 0;
}

.temario {
	display: flex;
	align-items: center;
	max-width: 234px;
	gap: 12px;
	background-color: var(--primary-blue);
	text-decoration: none;
	color: white;
	padding: 12px 24px;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	position: absolute;
	top: -20px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.temario:hover {
	background-color: #4a00ab;
}

.container1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

.container1 span {
	width: fit-content;
}

.priceAfter {
	text-decoration: line-through;
	color: rgb(158, 158, 158);
}

.container1 h1 {
	font-size: 50px;
	font-weight: 600;
}

.container1 h1 span {
	color: var(--primary-blue);
}

.container1 h2 {
	font-size: 24px;
	font-weight: 600;
}

.container2 {
	color: rgb(201, 201, 201);
	list-style: none;
}

.container2 li {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-bottom: 12px;
}

.container2 li svg {
	font-size: 20px;
	color: var(--primary-blue);
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
}

.paypal {
	background-color: var(--primary-blue);
	text-decoration: none;
	color: white;
	padding: 18px 32px;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.paypal:hover {
	background-color: #4a00ab;
}

.card {
	border: 1px solid var(--primary-blue);
	text-decoration: none;
	color: white;
	padding: 18px 32px;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.card:hover {
	background-color: var(--primary-blue);
}

@media (max-width: 410px) {
	.container1 h1 {
		font-size: 40px;
	}

	.container1 h2 {
		font-size: 20px;
	}
}

@media (max-width: 374px) {
	.container1 h1 {
		font-size: 28px;
	}

	.container1 h2 {
		font-size: 18px;
	}

	.paypal {
		width: 100%;
		font-size: 14px;
		text-align: center;
	}

	.card {
		width: 100%;
		font-size: 14px;
		text-align: center;
	}
}
